<!-- <p>dashboard works!</p>
<div *ngIf="tiles">
<a *ngFor="let tile of tiles"
  routerLink="/tile-detail/{{tile.tileId}}">
  <ul>
    <li>  {{tile.tileTitle}} <span> {{tile.tileId}}</span></li>
  </ul>
</a>
</div>
<div>---------------------------------------------------------------</div>
<div *ngIf="groups">
  <a *ngFor="let group of groups"
    routerLink="/group/{{group.groupId}}">
    <ul>
      <li>  {{group.groupName}} <span> {{group.groupId}}</span></li>
    </ul>
  </a>
  </div>
 -->

 <div class="container-box">
  <header class="header"></header>
  <main class="main">
    <section class="menu">asdasd1111111111</section>
    <section class="feed">asdasdasd2222222222</section>
    <section class="event">asdasdasd33333333</section>
  </main>
  <aside class="aside">asasda44444444444</aside>
</div>
