.container {  display: grid;
  width: 60.375em;
  grid-template-columns: 40em 19.375em;
  // grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 0em 1em;
  grid-auto-flow: row;
  margin-top: 3em;
  padding-left: auto;
  padding-right: auto;
  grid-template-areas:
    "search-info search-info"
    "main-area right-area";
}

.search-info{ grid-area: search-info;
  background-color: #eef0ed;
  border-radius: 5px;
  border: 2px solid gray; 
  height:2em ;
  margin-bottom: 0.7em;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

// [ngClass]="{'tile-no-tags':tile.tags.size === 0}"
// [ngClass]="{'tile-tags':tile.tags.size > 0}">

.right-area { grid-area: right-area;
  background-color: lightblue;
  height: 1000px; }

.main-area {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 0.9fr;
  gap: 1em 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-area-top"
    "main-area-bottom";
  grid-area: main-area;
  // background-color: lightblue;
  height: 100%
}

.main-area-top { grid-area: main-area-top;
  background-color: #eef0ed;
  border-radius: 5px;
  border: 2px solid gray; 
height:3em ; }

.main-area-bottom { grid-area: main-area-bottom;
  // background-color: lightcoral;
height:100% }

.tile{
  width: 100%;
  // background-color: lightslategray;
  background-color: #eef0ed;
  margin-bottom: 1em;
  border-radius: 5px; 
  border: 2px solid gray;

  &:hover{
    cursor: pointer;
    border: 2px solid black;
  }
}

.tile-container { 

  display: grid;
  padding: 0.3em;
  // height: 29em;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "owner-user"
  "tags"
  "title"
  "image-space"
  "content"
  "utiles";
  // border:1px solid transparent;

  

}

.title { grid-area: title;
  font-size: 1.3em;
  font-weight: 650;
  margin-bottom: 0.2em;
}

.image-space{
  grid-area: image-space;
}
.owner-user{
  grid-area: owner-user;
  font-size: 0.8em;
  height: 1.5em;

}

.userName{
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.content { grid-area: content;}

.utiles { grid-area: utiles; }

.header-right{
  float: right;
}

.header-right {
  a{
    color:black;
  }
  img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

.content{
  // text-overflow: ellipsis;
  // overflow:hidden;
  // // white-space:nowrap;
  // -webkit-line-clamp: 2; /* number of lines to show */
  //   line-clamp: 2; 
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 21em;
  position:relative;
  white-space: pre-line;

}
.content::before{
  content:'';
    width:100%;
    height:100%;    
    position:absolute;
    pointer-events: none;
    left:0;
    top:0;
    background:linear-gradient(transparent 220px, #eef0ed);
}
.join-button{
  border-radius: 2em;
  width: 5em;
  height: 2em;
  padding: 0px;
  text-align: center;
}
.tag{
  display: inline;
  margin-right: 0.3em;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 0.2em;
  text-align: center;
}
// .text-hidder{
//   position: relative;
//   z-index: -40px;
//   height: 20px;
//   background-color: black;
// }

.utile{
  display: block;
  float: left;
  margin-right: 1em;
  align-items: center;
  text-align: center;
  padding: 0.3em;

  &:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 0.3em;
  }

  img{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
  }
}

.end-of-data{
  width: 40em;
  height: 3em;
  margin-bottom: 3em;
  text-align: center;
  background-color: azure;
  border-radius: 3px;
}

.utiles{
  border-top: 1px solid #929394;
  padding-top: 0.1em;
}

.top-utile{
  display: block;
  float: left;
  margin-top: 0.25em;
  margin-right: 0.3em;
  width: 24%;
  text-align: center;

  &:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 0.3em;
  }

  img{
    width: 35px;
    height: 35px;
  }
}
.top-left-utile{
  margin-left: 0.36em;
}
.top-utile-scope{
  height: 35px;
  text-align: center;
}

.dropdown-li-style{
  color: black;
}
.nav-link{
  color: black;
  padding: 4px;
}
.top-utile-active{
  background-color: green;
    cursor: pointer;
    border-radius: 0.3em;
}

