
 <div class="container">
  <div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
  >

  </div>
  <div class="search-info"*ngIf="search.isStringSearchActive || search.isTagSearchActive">Search results for 
    <span *ngIf="search.isStringSearchActive">word: {{search.searchString}}</span>
    <span *ngIf="search.isTagSearchActive">Tags:</span>
    <button (click)="clearSearch()">Clearuje search</button>
  </div>
  <div class="right-area"></div>
  <div class="main-area">
    <div class="main-area-top">
      <div class="top-utile top-left-utile" [ngClass]="{'top-utile-active':searchParams.newest}" (click)="markSearchParam(0)">
        <img src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/star.svg?alt=media&token=005fbe94-6fd5-45fc-98f3-9302f0635a34">Newest{{search.isStringSearchActive}}
      </div>
      <div class="top-utile" [ngClass]="{'top-utile-active':searchParams.hot}" (click)="markSearchParam(1)">
        <img src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/16138591881631770718.svg?alt=media&token=04cf25ca-c620-43d6-99f2-4b221a997d36">Hot
      </div>
      <div class="top-utile"[ngClass]="{'top-utile-active':searchParams.likes}" (click)="markSearchParam(2)">
        <img src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/likes_zakladka.svg?alt=media&token=daed0473-4593-464f-83e2-7ac191d4945e">Likes
      </div>
      <div class="top-utile top-utile-scope">
        <ul class="navbar-nav ml-auto dropdown-li-style">
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-left">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
              {{activeTerm}}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <div ngbDropdownItem  (click)="markTerm(0)" [ngClass]="{'top-utile-active':term.allTime}">All time</div>
              <div ngbDropdownItem  (click)="markTerm(1)" [ngClass]="{'top-utile-active':term.today}">Today</div>
              <div ngbDropdownItem  (click)="markTerm(2)" [ngClass]="{'top-utile-active':term.week}">This week</div>
              <div ngbDropdownItem  (click)="markTerm(3)" [ngClass]="{'top-utile-active':term.month}">This month</div>
              <div ngbDropdownItem  (click)="markTerm(4)" [ngClass]="{'top-utile-active':term.year}">This year</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-area-bottom">
    
      <div *ngFor ="let tile of tiles | async" class="tile" >
        <!-- routerLink="/tile-detail/{{tile.tileId}} -->
        <div class="tile-container">
          <div class="owner-user">
            <span>Posted by</span>
            <span class="userName">{{tile.ownerUserName}}</span>
            <span class="date">{{tile.createdAt | datePassed}}</span>
            <div class="header-right">
              
              <img *ngIf ="tile.groupImageLink" src="{{tile.groupImageLink}}">
              <span>
                <a  routerLink="/group/{{tile.groupId}}">
                {{tile.groupName}}
                </a>
              </span>
              <!-- <button class="btn btn-primary join-button">Join</button> -->
            </div>
          </div>
          <div class="tags" *ngIf="tile.tagsNotEmpty === false" >
            <div class="tag" *ngFor="let recipient of tile.tags | keyvalue" [ngStyle]="{'background-color':recipient.value}"> 
                  {{recipient.key}}
            </div>
          </div>
          <div *ngIf="tile.tileTitle" class="title">{{tile.tileTitle}}</div>
          <div class="image-space"></div>
          <div class="content" [innerHTML]="tile.tileData | linky">
          </div>
          <div class="utiles">
            <div class="utile" (click)="doLike(tile.tileId)">
              <img *ngIf="tile.tileLikedByTheUser; else elseImage" src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/like-green.svg?alt=media&token=bec11aa2-1dd0-4a61-814c-48ac2fd4fb27">
              <ng-template #elseImage>
                <img src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/like.svg?alt=media&token=022c1ee1-1373-4053-906a-19e228517624">
              </ng-template>{{tile.likesCount}} Like</div>
            <div class="utile"><img src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/comment.svg?alt=media&token=afa54a04-bb36-471b-9fcc-a3ce1bf83bac">{{tile.commentsCount}} Comments</div>
            <div class="utile" (click)="copyLink(tile.tileId)"><link-tooltip></link-tooltip></div>
            <div class="utile" (click)="doSave(tile.tileId)">
              <img *ngIf="tile.userSavedTile; else elseBookmarked" src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/bookmarked.svg?alt=media&token=8d0182aa-5b88-4ad4-bc09-badae666f2c8">
              <ng-template #elseBookmarked>
                <img src="https://firebasestorage.googleapis.com/v0/b/endless-creation7.appspot.com/o/bookmark.svg?alt=media&token=98664fc0-6ac5-42ea-8bdc-30e1d844aad7">
              </ng-template>Save</div>
          </div>
        </div>

      </div>
      <div class="ending-loading">
        <ng-template *ngIf="isNotEndOFData else endOfData">
          <app-dots></app-dots>
        </ng-template>
        <ng-template #endOfData>
          <div class="end-of-data">End Of Data</div> 
        </ng-template>


      </div>
    </div>
  </div>
</div>