.content {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
  }
  input {
    display: block;
  }
  
  .loginForm{
    min-width: 30rem;
  }
  
  .incetive{
    text-align: center;
  }
  
  .space-holder{
    height:20px;
  }
  
  .alert-div{
    color:#b0171d;
    font-weight: bold;
  }
  