$primary-color-1: #ad5d50;
$primary-color-2: #b0aca2;
$primary-color-3: #45523e;
$primary-color-4: #f5ece5;




.toolbar {
  width: 100%;
  height: 3rem;
  background-color: $primary-color-2;
  // justify-content:space-between;
  // display: flex;
  // align-items: center;
  position: sticky;
  top: 0;
  z-index: 998;
}

.float {
  display: block;
  float: left;
}

.logo {
  width: 14rem;
  height: 3rem;
  padding-top: 0.23em;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  color: $primary-color-3;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }
}

.switch {
  width: 12rem;

  .book-tiles {
    width: 6rem;
    height: 3rem;
    background-color: $primary-color-2;
    color: $primary-color-3;
    border: 1px solid $primary-color-2;
    font-size: 1.35rem;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-4
    }

  }

  .active {
    background-color: $primary-color-1;
    border: 1px solid $primary-color-1;

    &:hover {
      background-color: $primary-color-1;
    }
  }

}

.group-dropdown {
  width: 15rem;


  .input-gruoup-search{
    background-color: $primary-color-4;
    border: none;
    height: 2rem;
    // border: 1px solid $primary-color-1;
    width: 13rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

  }

  .dropdown-li-style {
    color: black;
  }

  .nav-link {
    color: $primary-color-3;
    font-weight: 500;
    // padding: 0;
    height: 2.9rem;
  }

  .top-utile {
    display: block;
    float: left;
    text-align: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;

    &:hover {
      background-color: $primary-color-4;
      cursor: pointer;
    }


    .dropdown-tile,.dropdown-tile-no-results{
      // background-color: black;
      // background-color: $primary-color-2;
      a{
        width: 15rem;
        text-decoration: none;
        display: block;
        color: $primary-color-3;
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
  .dropdown-tile{
    &:hover {
      background-color: $primary-color-4;
      cursor: pointer;
    }
  }
  
  .dropdown-toggle::after {
    display: none;
  }

  .spacer {

    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    color: gray;
    padding-top: 0.25em;
  }
  
  
.dropdown-item{
  padding: 0px;
}

.dropdown-menu{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 40rem;
  background-color: $primary-color-2;

  
  &::-webkit-scrollbar {
    width: 1em;
  }
  
 &::-webkit-scrollbar-track {
    background-color: $primary-color-4;
  }
  
 &::-webkit-scrollbar-thumb {
  background-color: $primary-color-3;
  }


}
}

.search-bar {
  width: 40rem;
  height: 3rem;

  .input-group-text {
    padding: 0px;
    padding-left: 5px;
    background-color: $primary-color-1;
    border: none;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .form-control {
    height: 3rem;
    border: none;
    border-top: 4px solid $primary-color-1;
    border-bottom: 4px solid $primary-color-1;
    background-color: $primary-color-4;
    color: $primary-color-1;
  }

  .btn-outline-secondary {
    height: 2.5rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1px;
    padding: 10px;
  }

  .border-container {
    padding-top: 4px;
    background-color: $primary-color-1;
  }

  .tags-inner {
    background-color: gray;
    height: 10rem;
    width: 20rem;
  }

  .dropdown-toggle::after {
    display: none;
  }
}


.login-settings {
  display: block;
  float: right;
  height: 3rem;
  width: 15rem;

  .form-control {
    border: 1px solid $primary-color-1;
  }

  .row {
    height: 3rem;
  }

  .login-button {
    width: 15rem;
    height: 3rem;
    text-align: center;
    background-color: $primary-color-1;
    color: $primary-color-3;
    border: 1px solid $primary-color-1;
    font-size: 1.35rem;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-4;
      border: 1px solid $primary-color-4;
    }
  }

  .sign-button {
    width: 6rem;
    height: 3rem;
    text-align: center;
    background-color: $primary-color-1;
    color: $primary-color-3;
    border: 1px solid $primary-color-1;
    font-size: 1.35rem;

    &:hover {
      background-color: $primary-color-4;
      border: 1px solid $primary-color-4;
    }

  }

  
.logged-button {
  width: 15rem;
  height: 3rem;
  text-align: center;
  background-color: $primary-color-1;
  color: $primary-color-3;
  border: 1px solid $primary-color-1;
  font-size: 1.35rem;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-4;
    border: 1px solid $primary-color-4;
  }
}

  .dropdown-menu {
    background-color: $primary-color-2;


  }

  .expanded {
    background-color: $primary-color-4 !important;
    border: 1px solid $primary-color-4 !important;
  }
}






.search-button {
  background-color: $primary-color-1;
  color: $primary-color-3;
  border-left: 5px solid $primary-color-1;
  border-right: 5px solid $primary-color-1;
  border-top: none;
  border-bottom: none;
  font-size: 1.35rem;

  &:hover {
    background-color: $primary-color-4;
    border-right: 5px solid $primary-color-1;
    border-left: 5px solid $primary-color-1;
    border-top: none;
    border-bottom: none;
  }

  &:active {
    border: none;
    background-color: $primary-color-4;
    border-right: 5px solid $primary-color-1;
    border-left: 5px solid $primary-color-1;
    border-top: none;
    border-bottom: none;

    &:hover {
      background-color: $primary-color-4;
      border-right: 5px solid $primary-color-1;
      border-left: 5px solid $primary-color-1;
    }
  }
}





.active-group{
  background-color: coral;

}




