.toolbar{
  width: 100%;
  height: 3rem;
  background-color: #b0aca2;
  // justify-content:space-between;
  // display: flex;
  // align-items: center;
  position: sticky;
  top: 0;

  .logo {
    width: 14rem;
    height: 3rem;
    padding-top: 0.23em;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
    color: #45523e;
    cursor: pointer;
    border-right: 1px solid black;
    
      img{
        width:30px;
        height:30px;
      }
    }
    .switch {
      width:12rem;
      height: 3rem;
      text-align: center;
      font-size: 1.2em;
      font-weight: bolder;
      border-right: 1px solid black;
  
      .book-tiles{
        width: 6rem;
        height: 3rem;
        text-align: center;
        background-color: #b0aca2;
        color: #45523e;
        border: 1px solid #b0aca2;
        font-size: 1.35rem;
        cursor: pointer;
        &:hover{
          background-color: #f5ece5
        }
   
        }  
      .active{
         background-color: #ad5d50;
         border: 1px solid #ad5d50;
  
        &:hover{
  
          background-color: #ad5d50;
        }
      }
    
    }
}


.search-bar { 
  width: 34rem;
  height: 3rem;
}

.form-control{
  height: 3rem;
  border: none;
  border-top: 4px solid #ad5d50;
  border-bottom: 4px solid #ad5d50;
  background-color: #f5ece5;
  color: #ad5d50;
}
  .input-group-text{
    padding: 0px;
    padding-left: 5px;
    background-color: #ad5d50;
    border: none;

    img{
      width: 25px;
      height: 25px;
    }
  }
  .btn-outline-secondary{
    height: 2.5rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1px;
    padding: 10px;
  }

.border-container{
  padding-top: 4px;
  background-color: #ad5d50;
}

.search-button{
  background-color: #ad5d50;
  color: #45523e;
  border-left: 5px solid #ad5d50;
  border-right: 5px solid #ad5d50;
  border-top: none;
  border-bottom: none;
  font-size: 1.35rem;

  &:hover{
    background-color: #f5ece5;
    border-right: 5px solid #ad5d50;
    border-left: 5px solid #ad5d50;
    border-top: none;
    border-bottom: none;
  }
  &:active{
    border: none;
    background-color: #f5ece5;
    border-right: 5px solid #ad5d50;
    border-left: 5px solid #ad5d50;
    border-top: none;
    border-bottom: none;

   &:hover{
     background-color: #f5ece5;
     border-right: 5px solid #ad5d50;
     border-left: 5px solid #ad5d50;
   }
 }
}












.btn-right{
    background-color: #03a5fc;
    border: 0px;
}

.right-dropdown{
    margin-right: 1em;

}

.user-value{

    height: 35.99px;

}

// .container {  display: grid;
//     margin-right: 0px;
//     margin-left: 0px;
//     padding: 0px;
//     width: 100%;
//     // padding: 0px;
//     // width: 100vw;
//     height: 3rem;
//     // background-color: #03a5fc;  
//     grid-template-columns: 8em 8em 10em 10em 10em 10em;
//     // grid-template-rows: 1fr;
//     // grid-auto-columns: 1fr;
//     gap: 0px 0px;
//     // grid-auto-flow: row;
//     grid-template-areas:
//       "logo switch group-dropdown search-bar tags-bar login-settings";


//   }
  

  

    
  
  .group-dropdown { grid-area: group-dropdown;
    width: 15em;
   }
  
  
  .tags-bar { grid-area: tags-bar; }
  
  .login-settings { grid-area: login-settings;
    display: block; 
    float: right;
    padding-right: 3em;
    height: 3rem;
    .row{
      height: 3rem;
    }
    .login-button{
      width: 6rem;
      height: 3rem;
      text-align: center;
      background-color: #ad5d50;
      color: #45523e;
      border: 1px solid #ad5d50;
      font-size: 1.35rem;
      outline: none;
      cursor: pointer;
      &:hover{
        background-color: #f5ece5;
        border: 1px solid #f5ece5;
      }
      }  
    
 }

 .expanded{
  background-color: #f5ece5!important;
  border: 1px solid #f5ece5!important;
 }
  .float{
      display: block;
      float: left;
    //   width: 16em;
  }

  .dropdown-li-style{
    color: black;
  }
  .nav-link{
    color: black;
    padding: 10px;
  }
  .top-utile-active{
    background-color: green;
      cursor: pointer;
      border-radius: 0.3em;
  }
  
 
.spacer{
 
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  color: gray;
  padding-top: 0.25em;
}
